{{#if messages}}
  {{#each messages}}
    <div class="error">{{this}}</div>
  {{/each}}
{{/if}}

<form action="/users" method="post">
  <label>Login
    <input type="text" name="user[login]" placeholder="login" value="{{user.login}}" />
  </label>
  <br>
  <label>Email
    <input type="email" name="user[email]" placeholder="identity@domain.ex" value="{{user.email}}" />
  </label>
  <br>
  <label>Password
    <input type="password" name="user[password]" placeholder="password" value="" />
  </label>
  <br>
  <button type="submit">Create</button>
</form>
